/* Testimonials Section */
#testimonials-container {
    background: hsl(199, 30%, 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    width: 100%;
    max-width: 800px;
    border-radius: 10px;
  }
  
  .testimonial {
    margin: .5rem 0;
    font-style: italic;
  }