/* Bill Splitter Styles */
#panels-container {
  display: flex;
  height: 50vh;
}

#entry-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}

#review-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}