.event-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 90%;
    max-width: 800px;
    margin: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.event-header {
    margin: -1rem auto 2px;
}

.event-details-input-container {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}

.event-details-input-container input {
    height: 40px;
    padding: 5px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    width: 100%;
    max-width: 250px;
    box-sizing: border-box;
}

.event-date-group {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
}

.event-date-group input {
    width: 130px;
    max-width: 150px;
}

.event-confirm-btn {
    height: 42px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    white-space: nowrap;
}

.event-summary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background: rgba(255, 255, 255, 0.1);
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.event-summary-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.event-form-edit-btn {
    height: 42px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    white-space: nowrap;
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px) {
    .event-details-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .event-details-input-container {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }

    .event-date-group {
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .event-date-group input {
        width: 100%;
        max-width: 180px;
    }

    .event-confirm-btn {
        font-size: 1rem;
    }

    .event-summary-content {
        flex-direction: row;
        justify-content: center;
    }
}

@media screen and (max-width: 300px) {
    .event-details-container {
        width: 100%;
        padding: 0.5rem;
    }

    .event-date-group {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .event-date-group input {
        width: 100%;
        max-width: 230px;
    }

    .event-confirm-btn {
        width: 100%;
    }

    .event-summary-content {
        flex-direction: column;
        text-align: center;
    }
}